My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "Your job is the create a blogpost for the key phrase provided by user.\neach blogpost should be minimum 500 words and should be written in a highly professional yet casual language. The focus of the content should be to guide reader on practical aspects.\nthe content should be formatted in html for upload to a wordpress site.\nit should be strcutured in a json like below:\n{\nTitle:\"title,\ncontent: \"HTML formatted Content\",\nslug: \"slug\"\n}\nDo not respond in anything other than above json format. Do not say I understand or any other response."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        440,
        0
      ],
      "id": "dfed80b3-b2bf-4bdf-9c1b-67511b2298a5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        340,
        160
      ],
      "id": "ac0d7337-92c7-4905-a8e3-fc7e1c55b0da",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ZtpnAxXGdLYzHqWa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "//const data = $json['output'];\n\nconst data = $input.first().json.output\nconst cleanedData = data.replace(/^```json\\n|\\n```$/g, '');\n//console.log(jsonobject);\nreturn JSON.parse(cleanedData);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "4c753be2-d840-4af1-98a2-7bc5ffe608f0",
      "name": "Code"
    },
    {
      "parameters": {
        "title": "asdas",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1020,
        0
      ],
      "id": "1145a73f-eb50-4397-8191-487bd15ebcdc",
      "name": "Wordpress",
      "credentials": {
        "wordpressApi": {
          "id": "kKZNwdPu0wyw4uxO",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -20,
        -180
      ],
      "id": "ed7341f7-6f04-4a8a-b120-a24cf7e17bb3",
      "name": "When chat message received",
      "webhookId": "425bc245-7784-44fc-b2dc-052add1d3c21"
    },
    {
      "parameters": {
        "options": {
          "hl": "en"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        700,
        240
      ],
      "id": "d8d6d8fb-3de5-4e2b-9637-56ad76b5baa4",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "AsX1m3ZYk5Td2ORN",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        220
      ],
      "id": "8526823b-3159-4437-874a-51e08f1e1a01",
      "name": "Window Buffer Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bd246c84-5046-4347-85b6-c8ad893f4762",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ebfdb8dc9f8214317f8c6dd5bf5f803da3a1f1df85b1d90e0aa78f75aaedae32"
  },
  "id": "4VC00sfpakG5Eyck",
  "tags": []
}